@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    font-family: 'MaPolice';
}

@font-face {
    font-family: 'MaPolice';
    src: url('public/Bebas_Neue/BebasNeue-Regular.ttf') format('trueType');
}

.card {
    animation: slideIn 0.5s ease-in;        
}

@keyframes slideIn {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#title1 {
    animation: type 2s steps(16) forwards;
    overflow: hidden;
    white-space:nowrap;
    width: 16ch;
    visibility: hidden;
}

@keyframes type {
    0% {
        width: 0ch;
        visibility: visible;
    }
    100% {
        width: 16ch;
        visibility: visible;
    }
}
#title2 {
    animation: type 2s steps(19) forwards; 
    animation-delay: 2s;
    overflow: hidden;
    white-space:nowrap;
    width: 19ch;
    visibility: hidden;
}

@keyframes type {
    0% {
        width: 0ch;
        visibility: visible;
    }
    100% {
        width: 19ch;
        visibility: visible;
    }

}

